<div class="container-fluid">
    <div class="card w-100">
        <div class="card-body">
            <div class="row">
                <div class="col-3" ></div>
                <div class="col-6 blockquote text-center"><p>Listagem de Escolas</p></div>
                <div class="col-3">
                    <button class="btn btn-secondary float-right"><i class="fas fa-plus"></i>  Adicionar Escola</button></div>
            </div>
            
            <div class="row">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Alunos</th>
                            <th scope="col">Turmas</th>
                            <th scope="col">Nota Geral</th>
                            <th scope="col">Editar</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let school of schools">
                            <th scope="row">{{ school.id }}</th>
                            <td>{{ school.name }}</td>
                            <td>{{ school.students | number }}</td>
                            <td>{{ school.classes | number }}</td>
                            <td>{{ school.grade | number }}</td>
                            <td><button class="btn btn-secondary" (click)="editModal(school)" ><i class="fas fa-pencil-alt"></i></button></td>
                            <td><button class="btn btn-secondary" (click)="deleteSchool(school)"><i class="fas fa-trash"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- 

<div class="modal fade" *ngIf="editItem" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar Escola</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div> -->
